<div style="width: 100%; height:relative;">
  <div class="btn-group mt-1 ml-1" role="group">
    <label for="openScript"  class="btn btn-outline-dark">
        <a><fa-icon [icon]="faFolderOpen"></fa-icon></a>
        <input type='file' hidden="true" style="display:none;" id="openScript" name="openScript" (change)="handleFileInput($event)" accept=".txt,.sql" >
    </label>
    <label for="saveScript" class="btn btn-outline-dark" (click)="saveFile()">
      <a id="saveScript"><fa-icon [icon]="faSave"></fa-icon></a>
    </label>
  </div>
  <div class="btn-group mt-1 ml-1" role="group">
    <label for="stopScript" class="btn btn-outline-dark" (click)="stopScript()">
      <a id="stopScript"><fa-icon [icon]="faStop"></fa-icon></a>
    </label>
    <label for="runScript" class="btn btn-outline-dark" (click)="runScript()">
      <a id="runScript"><fa-icon [icon]="faPlay"></fa-icon></a>
    </label>
    <label id="SpinnerLoadQuery" hidden="true">
      <div class="spinner-border"></div>
    </label>
  </div>
  <div class="border border-dark rounded-top mt-1" >
    <ngx-codemirror style="font-size:medium ;" [(ngModel)]="content" [options]="{
      lineNumbers: true,
      theme: 'material',
      mode: 'sql'
    }" name="inputScript" #Editor></ngx-codemirror>
  </div>
  <div class="border border-dark rounded-top mt-1" >
    <ngx-codemirror style="font-size:medium ;" [(ngModel)]="content2" [options]="{
      lineNumbers: true,
      theme: 'material',
      mode: 'text/javascript'
    }" name="inputScripts" #console></ngx-codemirror>
  </div>
</div>