[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
gunicorn = "*"
numpy = "*"
graphviz = "*"
pandas = "*"
ply = "*"
prettytable = "*"
simplejson = "*"

[dev-packages]
pylint = "*"


