client/team01/venv
server/team01/venv
storage/team08/diagrama.png
storage/team08/diagrama
storage/team08/pruebas.py
parser/team13/.vscode/settings.json
parser/team13/.vscode/settings.json
.vscode
parser/fase2/team05/proyecto/codigo3D.txt
parser/fase2/team22/AST.svg
parser/fase2/team22/AST.dot
parser/fase2/team22/Codigo3D.py
