entrada.txt
__pycache__/
.idea/
data/
c3d.py
parser.out
parsetab.py 
pruebas.py
tree.svg
tree.svg.pdf
data/
reporteTabla.gv.pdf
tree.gv
tree.gv.pdf
reporteBNF.gv.pdf
reporteBNF.gv
entrada2.txt
reporteErrores.gv
reporteErrores.gv.pdf
reporteTabla.gv
c3d.py