<div class="btn-primary">
    <button type="button" class="btn btn-primary btn-sm" (click)="save()">save</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="run()">run</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="check()"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/768px-White_check.svg.png" width="10" height="10" alt=""></button>
</div>
<div ace-editor id="editor" style="height: 50%; min-width: 100px; max-width: 20000px;" [(text)]="text" theme="sqlserver" mode="sql" [options]="options"></div>
<div class="overflow-hidden">
    <app-console [state]="messages" [encabezados]="res" [resultados]="resultados" [querys]="querys" [errores]="errores"></app-console>
</div>