instruciones/**/*__pycache__
/parser.out
/parsetab.py
/__pycache__/lexico.cpython-39.pyc
/__pycache__/sintactico.cpython-39.pyc
/__pycache__/lexico.cpython-39.pyc
/__pycache__/parsetab.cpython-39.pyc
/__pycache__/sintactico.cpython-39.pyc
__pycache__/sintactico.cpython-39.pyc
__pycache__/lexico.cpython-39.pyc
__pycache__/parsetab.cpython-39.pyc
__pycache__/sintactico.cpython-39.pyc
ply/__pycache__/__init__.cpython-39.pyc
ply/__pycache__/lex.cpython-39.pyc
ply/__pycache__/yacc.cpython-39.pyc
__pycache__
__pycache__/lexico.cpython-39.pyc
__pycache__/lexico.cpython-39.pyc
__pycache__/sintactico.cpython-39.pyc
ply/__pycache__/yacc.cpython-39.pyc
ply/__pycache__/lex.cpython-39.pyc
ply/__pycache__/__init__.cpython-39.pyc
__pycache__/sintactico.cpython-39.pyc
__pycache__/parsetab.cpython-39.pyc
/Digraph.gv
/Graph.gv
/Digraph.gv
/ambiente_de_instalacion.txt
ambiente_de_instalacion.txt
Reporte_Errores.html
/Tabla_Simbolos.html
Tabla_Simbolos.html
/ply
ply
data
/data
/.idea
.idea
TablaSimbolos.html
Reporte_Gramatical/Reporte_Gramatical.html
TablaSimbolos.html
prueba.py
/prueba.py

Digraph.dot
Digraph.gv.pdf
hola.png
ast.png
optimizacion/parser.out
optimizacion/parsetab.py
hola.svg
prueba.py
TablaSimbolos2.html
