interfaz/AST.dot
interfaz/AST.png
interfaz/AST.svg
interfaz/data/json
interfaz/Simbolos.html
interfaz/ErroresLexicos.html
interfaz/ErroresSemanticos.html
interfaz/ErroresSintacticos.html
interfaz/ReporteOptimizacion.html
Analisis_Ascendente/__pycache__/
Analisis_Ascendente/parser.out
Analisis_Ascendente/parsetab.py
**/__pycache__/**
test.py
reporteGramatica.gv
reporteGramatica.gv.pdf
venv
.vscode
data
.idea