**/__pycache__/**
data/
Reporte_Gramatical/Reporte_Gramatical.html
storageManager/
parser.out
parsetab.py

/Digraph.gv
/Graph.gv
/Digraph.gv
Reporte_Errores.html
Tabla_Simbolos.html

data
/data
/.idea
.idea
/Optimizador/__pycache__
/Optimizador/parser.out
/Optimizador/parsertab.py
