/venv/
/.idea/
/codigo3D.py
/__pycache__/
/ply/__pycache__/
/parser.out
/parser.py
/parsetab.py
/storageManager/jsonMode.py
/storageManager/
/data/
/data/json/
/data/json/databases
/Reportes/reporteDeErrores.html
/Reportes/TablaDeSimbolos.html
/Reportes/reporteGramatical.html
/Reportes/OptimizacionDeCodigo.html
/AST/ast.png
/AST/ast.dot
