<div id="content-wrapper" class="d-flex flex-column">
    <!-- update-->
    <div class="card shadow mb-4 ">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> PostgreSQL </h6>
        </div>
        <div class="card-body align-items-center">
            <div class="text-center">
            </div>
    <div class="p-5 ">
                <div class="form-group">
                    <textarea name="comentarios" rows="15" cols="157"></textarea>
                </div>
                <div class="form-group">
                    <textarea name="comentarios" rows="15" cols="157"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>