instruciones/**/*__pycache__
/parser.out
/parsetab.py
/__pycache__/lexico.cpython-39.pyc
/__pycache__/sintactico.cpython-39.pyc
/__pycache__/lexico.cpython-39.pyc
/__pycache__/parsetab.cpython-39.pyc
/__pycache__/sintactico.cpython-39.pyc
__pycache__/sintactico.cpython-39.pyc
__pycache__/lexico.cpython-39.pyc
__pycache__/parsetab.cpython-39.pyc
__pycache__/sintactico.cpython-39.pyc
ply/__pycache__/__init__.cpython-39.pyc
ply/__pycache__/lex.cpython-39.pyc
ply/__pycache__/yacc.cpython-39.pyc
__pycache__
__pycache__/lexico.cpython-39.pyc
__pycache__/lexico.cpython-39.pyc
__pycache__/sintactico.cpython-39.pyc
ply/__pycache__/yacc.cpython-39.pyc
ply/__pycache__/lex.cpython-39.pyc
ply/__pycache__/__init__.cpython-39.pyc
__pycache__/sintactico.cpython-39.pyc
__pycache__/parsetab.cpython-39.pyc
/Digraph.gv
/Graph.gv
/Digraph.gv
/ambiente_de_instalacion.txt
ambiente_de_instalacion.txt
Reporte_Errores.html
/Tabla_Simbolos.html
Tabla_Simbolos.html
archivos_entrada
/archivos_entrada
/ply
ply
data
/data
/.idea
.idea
TablaSimbolos.html
Reporte_Gramatical/Reporte_Gramatical.html
TablaSimbolos.html
