/parser.out
/parsetab.py
/__pycache__/lexico.cpython-39.pyc
/__pycache__/sintactico.cpython-39.pyc
/__pycache__/lexico.cpython-39.pyc
/__pycache__/parsetab.cpython-39.pyc
/__pycache__/sintactico.cpython-39.pyc
__pycache__/sintactico.cpython-39.pyc
__pycache__/lexico.cpython-39.pyc
__pycache__/parsetab.cpython-39.pyc
__pycache__/sintactico.cpython-39.pyc
ply/__pycache__/__init__.cpython-39.pyc
ply/__pycache__/lex.cpython-39.pyc
ply/__pycache__/yacc.cpython-39.pyc
__pycache__
__pycache__/lexico.cpython-39.pyc
__pycache__/lexico.cpython-39.pyc
__pycache__/sintactico.cpython-39.pyc
ply/__pycache__/yacc.cpython-39.pyc
ply/__pycache__/lex.cpython-39.pyc
ply/__pycache__/__init__.cpython-39.pyc
__pycache__/sintactico.cpython-39.pyc
__pycache__/parsetab.cpython-39.pyc
/Digraph.gv
/Graph.gv
/Digraph.gv
