<body class="bg-gradient-primary">

    <div class="container">
  
      <!-- Outer Row -->
      <div class="row justify-content-center">
  
        <div class="  col-lg-12 col-md-9">
  
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-6">
                  <div class="p-5">
                    
                    <form class="user">
                    <div class="form-group">
                        Delete  table<Table></Table>
                    </div>
                      <div class="form-group">
                        <select name="database" id="database" class="form-control" >
                            <option value="p1">Select database</option>
                            <option value="b1">Database 1</option>
                            <option value="b2">Database 2</option>
                            <option value="b3">Database 3</option>
                          </select>
                      </div>
                      <div class="form-group">
                        <select name="table" id="table" class="form-control" >
                            <option value="p1">Select table</option>
                            <option value="b1">Table 1</option>
                            <option value="b2">Table 2</option>
                            <option value="b3">Table 3</option>
                          </select>
                      </div>
                      <div class="form-group">
                      </div>
                      <a class="btn  btn-outline-primary btn-user btn-block" type="submit" (click)="deletetable($event)">
                        Eliminar
                      </a>
                      <hr>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
  
    </div>
  
  </body>