<mat-tab-group [selectedIndex]="selected.value"
               (selectedIndexChange)="selected.setValue($event)"
               animationDuration="0ms" class="tabs-editor">

  <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
    
    <ng-template mat-tab-label>
      {{tab}}
      <mat-icon class="tab-icon" (click)="onRemoveTab(index)"  >cancel</mat-icon>
  </ng-template>
  
  <div class="code-editor">

    <ngx-codemirror
    [ngModel]="codeArray[index]"
    [options]="{
        
      tabSize: 4,
      lineNumbers: true,
      lineWrapping: true,
      foldGutter: true,
    
      styleActiveLine: true,
      theme: 'material-darker',
      mode: 'text/x-pgsql'
    }"
    (ngModelChange)="handleChange($event)"
    
    ></ngx-codemirror>
  </div>

  </mat-tab>

</mat-tab-group>