<div style="width: 100%; height:relative;">
  <br>
  <div class="btn-group mt-1 ml-1" role="group">
    <label for="openScript" class="btn btn-outline-dark">
      <a>
        <fa-icon [icon]="faFolderOpen"></fa-icon>
      </a>
      <input type='file' hidden="true" style="display:none;" id="openScript" name="openScript"
        (change)="handleFileInput($event)" accept=".txt,.sql">
    </label>
    <label for="saveScript" class="btn btn-outline-dark">
      <a id="saveScript" (click)="saveFile()">
        <fa-icon [icon]="faSave"></fa-icon>
      </a>
    </label>
  </div>

  <div class="btn-group mt-1 ml-1" role="group">
    <label for="stopScript" class="btn btn-outline-dark">
      <a id="stopScript" (click)="stopScript()">
        <fa-icon [icon]="faStop"></fa-icon>
      </a>
    </label>
    <label for="runScript" class="btn btn-outline-dark">
      <a id="runScript" (click)="runScript()">
        <fa-icon [icon]="faPlay"></fa-icon>
      </a>
    </label>
  </div>

  <div class="border border-dark rounded-top mt-1">
    <ngx-codemirror style="font-size:medium ;" [(ngModel)]="content" [options]="{
      lineNumbers: true,
      theme: 'material',
      mode: 'sql'
    }" name="inputScript"></ngx-codemirror>
    
  </div>


  <nav mat-tab-nav-bar [backgroundColor]="background">
    <a mat-tab-link *ngFor="let link of links"
       (click)="activeLink = link"
       [active]="activeLink == link"> {{link}} </a>
    <a mat-tab-link disabled>Disabled Link</a>
  </nav>
  
  <button mat-raised-button class="example-action-button" (click)="toggleBackground()">
    Toggle background
  </button>
  <button mat-raised-button class="example-action-button" (click)="addLink()">
    Add link
  </button>
 

  

  <br><br>
</div>
