<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-brand">
      <h5>Tytus</h5>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTytus" aria-controls="navbarTytus" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTytus">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!--<li class="nav-item dropdown">
          <h5 class="nav-link dropdown-toggle" id="navbarDatabase" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Archivo
          </h5>
          <ul class="dropdown-menu" aria-labelledby="navbarDatabase">
            <li>
              <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#crearDB">
                Crear Base de Datos
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <h5 class="nav-link dropdown-toggle" id="navbarTable" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tablas
          </h5>
          <ul class="dropdown-menu" aria-labelledby="navbarTable">
            <li>
              <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#crearTabla">
                Crear Tabla
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <h5 class="nav-link dropdown-toggle" id="navbarScript" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Script
          </h5>
          <ul class="dropdown-menu" aria-labelledby="navbarScript">
            <li>
              <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#crearTabla">Nuevo script</a>
            </li>
          </ul>
        </li>-->
        <li class="nav-item dropdown">
          <h5 class="nav-link dropdown-toggle" id="navbarScript" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reportes
          </h5>
          <ul class="dropdown-menu" aria-labelledby="navbarScript">
            <li (click)="EddDatabases()">
              <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#mdGraph">Databases</a>
            </li>
            <li (click)="reportAVL()">
              <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#mdGraph">Registros Tabla</a>
            </li>
            <li (click)="reportTBL()">
              <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#mdGraph">Tablas Base de Datos</a>
            </li>
            <li (click)="reportTPL()">
              <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#mdGraph">Registro Especifico</a>
            </li>
            <li (click)="RepASTParser()">
              <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#mdGraph">AST Parser</a>
            </li>
            <li (click)="repGramar()">
              <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#mdGraph">Grammar</a>
            </li>
            <li (click)="repAstConsulta()">
              <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#mdGraph">AST Consulta</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- ------------- Modal para crear una tabla ---------------  -->
<div class="modal fade" id="crearTabla" tabindex="-1" aria-labelledby="mdCrearTabla" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mdCrearTabla">Crear tabla</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form (submit)="createTable()">
        <div class="modal-body">
          <div class="mb-3 row">
            <label for="nombreTabla" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
              <input type="text" name="nombreTabla" [(ngModel)]="table.name" class="form-control" placeholder="Nombre de la tabla" required autofocus>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" type="submit">Crear tabla</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- ------------- Modal para crear una base de datos ---------------  -->
<div class="modal fade" id="crearDB" tabindex="-1" aria-labelledby="mdCrearDB" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mdCrearDB">Crear base de datos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form (submit)="createBD()">
        <div class="modal-body">
          <div class="mb-3 row">
            <label for="nombreBD" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
              <input type="text" name="nombreBD" [(ngModel)]="database.name" class="form-control" placeholder="Nombre de la base de datos" required autofocus>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" type="submit">Crear base de datos</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="crearTabla" tabindex="-1" aria-labelledby="mdCrearTabla" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mdCrearTabla">Crear tabla</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form (submit)="createTable()">
        <div class="modal-body">
          <div class="mb-3 row">
            <label for="nombreTabla" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
              <input type="text" name="nombreTabla" [(ngModel)]="table.name" class="form-control" placeholder="Nombre de la tabla" required autofocus>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" type="submit">Crear tabla</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="mdGraph" tabindex="-1" aria-labelledby="mdGraph" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mdGraph">REPORTES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="container">
        <div style="text-align: center;">
          <h1 style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{title}}</h1>
          <div id="graph"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>