<ul class="nav nav-tabs" style="margin-top: 15px; margin-left: 15px;">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#properties">SQL</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#sql">Get started</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#statics">Statics</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content overflow-auto" style="margin-left: 15px; overflow: auto; height: 100%; width: 100%;">
    <div class="tab-pane fade active show" id="properties" style="height: 100%; width: 100%;">
        <app-editor></app-editor>
    </div>
    <div class="tab-pane fade" id="sql">
        <div class="jumbotron">
            <h1 class="display-3">Tytusdb</h1>
            <p class="lead"></p>
            <hr class="my-4">
            <p>Tytys is a new database management system</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="https://github.com/tytusdb/tytus" role="button">Learn more</a>
            </p>
        </div>
    </div>
    <div class="tab-pane fade" id="statics">

        <div class="jumbotron overflow-auto">
            <h1 class="display-3">Stonks</h1>
            <p class="lead">Subiendo como espuma dentro del ranking de dbms 2021</p>
            <hr class="my-4">
            <div style="align-items: center;">
                <img src="https://cdn.pixabay.com/photo/2013/07/12/14/28/chart-line-148256_1280.png" width="40%" height="40%" alt="">
            </div>
        </div>
    </div>
</div>