.lateral{
    background-color:beige;
    border: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
}

.contenedorQuery{
    margin-left: 15%;
    float: left;
    min-width: 85%;
    border-style: solid;
     border-width: 4px; 
}



.contenedorSalida{
    margin-left: 15%;
    height: 100%;
    resize: vertical;
    background-color: grey;
}

.textoSalida{
    min-width: 100%;
    min-height: 100%;
    resize: vertical;
    background-color: grey;
}

.CodeMirror{
    min-width: 100%;
    font-size: 25PX;
    min-height: 100%;
}

.barra{
    width: 85%;
    height: 30px;
    margin-left: 15%;
}