{% extends "plantilla.html" %}

{% block content %}

<!--CONTENEDOR PRINCIPAL-->
<div class="container mt-5">
  <div class="row">
    <!--BARRA 1-->
    <div class="col-12">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Carnet</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Github</th>
                </tr>
            </thead>
            <tbody class="table-light">
                <tr>
                    <th scope="row">1</th>
                    <th>201612378</th>
                    <th>Juan José Hernández Rodríguez</th>
                    <th>bitochepe</th>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <th>201700317</th>
                    <th>Carlos Alejandro Tenes Mejia</th>
                    <th>carlostex98</th>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <th>201700529</th>
                    <th>Cristian Manases Juarez Juarez</th>
                    <th>PIKmanases</th>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <th>201700532</th>
                    <th>Milton Josué Antonio Villeda Gómez</th>
                    <th>MiltonVilleda</th>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>

{% endblock %}