<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-brand">
        <img src="https://cdn.svgporn.com/logos/chromatic-icon.svg" width="40" height="40" alt="BD">
      </a>
    </div>
    <div class="navbar-brand">
      <h1 class="text-white">TytusDB</h1>
    </div>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <h5 class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Archivo</h5>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" (click)="ver(crearBD)"> Crear Base de Datos</a></li>
            <li><a class="dropdown-item" href="#">Eliminar Base de Datos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <h5 class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Tablas</h5>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Crear Tabla</a></li>
            <li><a class="dropdown-item" href="#">Eliminar Tabla</a></li>
            <li><a class="dropdown-item" href="#">Agregar Columna a una tabla</a></li>
            <li><a class="dropdown-item" href="#">Eliminar Columna a una tabla</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <h5 class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Script</h5>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">CREATE Script</a></li>
            <li><a class="dropdown-item" href="#">INSERT Script</a></li>
            <li><a class="dropdown-item" href="#">SELECT Script</a></li>
            <li><a class="dropdown-item" href="#">UPDATE Script</a></li>
            <li><a class="dropdown-item" href="#">DELETE Script</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <h5 class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Herramientas</h5>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Listar ultimos 100 registros</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <h5 class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Otros</h5>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Manual de Usuario</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ng-template #crearBD>
  <div class="modal-header" #crearBD>
    <h5 class="modal-title" id="exampleModalLabel">Nueva Base de Datos</h5>
  </div>
  <div class="modal-body">
    <form class="form-inline" (submit)="createBD()">
      <div class="form-group mx-sm-3 mb-2">
        <input type="text" [(ngModel)]="nuevobd.nombrebd" name="nombrebd" class="form-control"
          placeholder="Nombre Base de Datos" required autofocus>
      </div>
      <button class="btn btn-primary mb-2" type="submit">Crear Base de Datos</button>
    </form>
  </div>
</ng-template>