<div class="btn-primary">

    <button type="button" class="btn btn-primary btn-sm" (click)="save()"><img src="https://cdn.discordapp.com/attachments/761314147094757436/797292067033579540/download-2-16.png" width="12" height="12" alt=""></button>
    <button type="button" class="btn btn-primary btn-sm" (click)="run()"><img src="https://cdn.discordapp.com/attachments/761314147094757436/797291795242287124/play-3-16.png" width="12" height="12" alt=""></button>
    <button type="button" class="btn btn-primary btn-sm" (click)="check()"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/768px-White_check.svg.png" width="10" height="10" alt=""></button>
    <button type="button" class="btn btn-primary btn-sm" (click)="copy()"><img src="https://flaticons.net/icon.php?slug_category=mobile-application&slug_icon=copy" width="14" height="14" alt=""></button>
    <button type="button" class="btn btn-primary btn-sm" (click)="paste()"><img src="https://cdn.discordapp.com/attachments/761314147094757436/797291634403835954/text-file-4-16.png" width="12" height="12" alt=""></button>
</div>
<div ace-editor id="editor" style="height: 50%; min-width: 100px; max-width: 20000px;" [(text)]="text" theme="sqlserver" mode="sql" [options]="options"></div>

    <button type="button" class="btn btn-primary btn-sm" (click)="save()">save</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="run()">run</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="check()"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/768px-White_check.svg.png" width="10" height="10" alt=""></button>
</div>
<div ace-editor style="height: 50%; min-width: 100px; max-width: 20000px;" theme="github" mode="sql" [options]="options"></div>


<div class="overflow-hidden">
    <app-console [state]="messages" [encabezados]="res" [resultados]="resultados" [querys]="querys" [errores]="errores"></app-console>
</div>
