<div class="btn-primary">
    <button type="button" class="btn btn-primary btn-sm">save</button>
    <button type="button" class="btn btn-primary btn-sm">run</button>
    <button type="button" class="btn btn-primary btn-sm"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/768px-White_check.svg.png" width="10" height="10" alt=""></button>
</div>
<div ace-editor style=" min-width: 100px; max-width: 20000px;" [mode]="'SQL'" [theme]="'github'" [options]="options"></div>